
<div class="container">
  
    <div class="container ">
      <div>
          <h1 class="display-4">{{title}}</h1>
          <p class="lead">Disfruta de las publicaciones de tus amig@s y comparte tus fotografias!!!</p>
          <hr class="my-4">
          <p ><strong>Aquí tienes una breve introducción a algunas secciones</strong></p>
    
         </div>
     <div class="card mb-3 mr-30" style="max-width: 540px ;">
        <div class="row g-0 ">
       
             <div class="col-md-6">
                <img src="assets/images/primavera.jpg"  class=" rounded-start" alt="...">
              </div>
             <div class="col-md-6">
                 <div class="card-body">
                        <h5 class="card-title">Registrate</h5>
                      <p class="card-text">Forma parte de nuestra comunidad.Te esperamos</p>
                     <a  class="btn btn-primary"[routerLink]="['./registro']">Registrate</a>
         
                 </div>
            </div>
        
           </div>
    
       </div>
       <div class="card mb-3 mr-30 " style="max-width: 540px;">
           <div class="row g-0">
          
                <div class="col-md-6">
                   <img src="assets/images/tiempo.jpg" class=" rounded-start" alt="...">
                 </div>
                <div class="col-md-6">
                    <div class="card-body">
                           <h5 class="card-title">Meteorologia</h5>
                         <p class="card-text"> Conoce el tiempo de la zona y animate a visitarla.</p>
                        <a class="btn btn-primary">Planifica</a>
                    </div>
               </div>
           
              </div>
       
       </div>
          
       
 
 
    <div class="card mb-3 mr-30" style="max-width: 540px ;">
       <div class="row g-0 ">
      
            <div class="col-md-6">
               <img src="assets/images/birdazuljpg.jpg"  class=" rounded-start" alt="...">
             </div>
            <div class="col-md-6">
                <div class="card-body">
                       <h5 class="card-title">Conoce</h5>
                     <p class="card-text">Conoce las características de las aves de nuestro país.</p>
                    <a href="" class="btn btn-primary">Conoce</a>
                </div>
           </div>
       
          </div>
   
      </div>
      <div class="card mb-3 mr-30 " style="max-width: 540px;">
          <div class="row g-0">
         
               <div class="col-md-6">
                  <img src="assets/images/google.jpg" class=" rounded-start" alt="...">
                </div>
               <div class="col-md-6">
                   <div class="card-body">
                          <h5 class="card-title">Planifica</h5>
                        <p class="card-text"> Planifica tu viaje para conocer las aves en su habitat natural.</p>
                       <a  class="btn btn-primary">Planifica</a>
                   </div>
              </div>
          
             </div>
      
      </div>
     
      
 
 </div>
 